body {background-color: #ffe4e0; min-height: 100vh;}

.wrap {max-width: 1024px;margin: 0 auto;padding: 20px;}
.main-container {margin: auto;}

#comments .comment { padding: 20px; border: 3px solid #f8ada9; border-radius: 10px; background-color: #f8ada9;}
#comments .form-comment {display: flex;justify-content: space-between;border-radius: 10px;margin: 0 0 30px;width: 100%;background-color: white;-webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.15);box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.15);}
#comments .form-comment .input-comment {width: 100%;margin: 0;border: 0;padding: 20px;border-radius: 10px;font-size: 18px;}
#comments .form-comment .input-comment::placeholder {font-size: 18px;}
#comments .form-comment button {width: 13%;margin: 0;border: 0;border-radius: 10px;padding: 10px;background-color: #ff4253;color: white;font-size: 18px;font-weight: bolder;cursor: pointer;}
#comments .comment {margin-bottom: 20px;-webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.15);box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.15);}
#comments .comment .user {display: flex;margin-bottom: 10px;}
#comments .comment .user .user-profil {width: 50px;height: 50px;border-radius: 50%;}
#comments .comment .user .user-name {margin-left: 10px;font-size: 25px;font-weight: bold;line-height: 50px;}
#comments .comment .food_name {display: inline-block; padding: 0 10px; border-radius: 10px; margin-bottom: 10px; background-color: #ffe4e0; line-height: 40px; font-weight: bold;}
#comments .comment .comment-text {line-height: 30px;font-size: 20px;}
#comments .comment .comment-bottom {display: flex;justify-content: flex-end;}
#comments .comment .comment-bottom .date,
#comments .comment .comment-bottom .delete-btn {display: block;width: 80px;line-height: 30px;}
#comments .comment .comment-bottom .delete-btn {margin: 0 10px;border: 1px solid gray;border-radius: 10px;background-color: white;color: rgb(156, 156, 156);font-weight: bold;font-size: 17px;cursor: pointer;transition: all 0.5s;}
#comments .comment .comment-bottom .delete-btn:hover {border: 1px solid rgb(77, 76, 76); color: black;}

/* 수정 */
.file-label {display: block;}
#input-pic {border: 1px solid #dbdbdb; padding-top: 6px; border-radius: 5px; margin-left: 32px; background-color: white; opacity: 1;}


.media-left {margin: 0 0 50px;}
.user-profile { width: 150px; height: 150px; margin: auto; border-radius: 50%;}
.profile-info { min-height: 200px; border-radius: 20px; margin: 60px auto 60px auto; }
.user-box .user-nickname {margin-top: 30px; text-align: center; font-size: 40px; font-weight: bold;}
.user-box .user-name{margin-top:  10px; text-align: center; font-size: 30px;}

/* pc */
@media (max-width: 1024px) {
  .wrap {max-width: 768px;}
}

/* 태블릿 가로 */
@media (max-width: 768px) {
  .wrap {max-width: 480px; margin: auto; padding: 20px;}
}

/* 태블릿 세로, 모바일 가로*/
@media (max-width: 480px) {
}
